!.gitignore
*.gz
*.zip
*.md5
*.sha1
bin/*
build
build.eclipse
build.properties
target
dist
nbproject/private
share
latest_source_cache
docs/api
*.orig
*.rej
*~
.debug.properties
test/testapp/testapp
glob_test
spaces test
.DS_Store
*.so
*.bundle
*.[oa]
dev_null
.redcar
/.externalToolBuilders/
/.settings/
.metadata
.idea/workspace.xml
shared.iml
build_graph.png
/.idea/
lib_managed/
project/build/target/
project/boot/
